.paperclip__login,
.paperclip__update,
.paperclip__register {
    margin: 0 -@clipbond;
    padding-top: 20vh;
    color: white;
    background-color: __paperclip__stdbg__;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.paperclip__login {
    background-image: url("images/home/invt-bg.svg");
}

.paperclip__register,
.paperclip__update {
    background-image: url("images/home/regs-bg.svg");
}

.paperclip__doddlemid {
    text-align: center;
}

.paperclip__login .paperclip__doddlemid {
    margin-bottom: 10vh;
}

.paperclip__register .paperclip__doddlemid {
    margin-bottom: 5vh;
}

.paperclip__doddlemid p {
    color: __paperclip__edititem__;
}

.paperclip__login label,
.paperclip__update label,
.paperclip__register label{
    float: none;
}

.paperclip__login label {
    width: 34rem;
    margin-left: calc(~"50vw - 20rem");
}
.paperclip__register label {
    width: 38rem;
    margin-left: calc(~"50vw - 24rem");
}
.paperclip__update label {
    width: 40rem;
    margin-left: calc(~"50vw - 26rem");
}

.paperclip__login span ,
.paperclip__update span,
.paperclip__register span {
    width: 5rem;
    font-size: 1.2rem;
    font-weight: lighter !important;
}

.paperclip__login input ,
.paperclip__update input ,
.paperclip__register input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    background-color: __paperclip__edititem__;

    width: 28rem !important;
    height: 2rem;
    opacity: 0.7;
    border-radius: 8px;
    border: 2px solid white;
    margin-left: 1rem;
}

.paperclip__login button ,
.paperclip__update button ,
.paperclip__register button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 0;
    background-color: __paperclip__gold__;
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    color: white;
    font-weight: lighter !important;

}

.paperclip__login button {
    margin-left: calc(~"50% - 2rem");
    margin-top: 1rem;
}
.paperclip__register button {
    float: left;
    margin-left: calc(~"50% + 16rem");
    margin-top: -3.3rem;
}
.paperclip__update button{
}
.paperclip__update button[type='submit'] {
    margin-left: calc(~"50% - 5rem");
    margin-top: -0rem;
}
.paperclip__update button[type='reset'] {
    margin-top: -3.8rem;
    margin-left: calc(~"50%");
}

.paperclip__login .block ,
.paperclip__update .block,
.paperclip__register .block{
    margin-bottom: 1rem;
}

.paperclip__login .no p {
    display: inline;
    position: relative;
    top: 2rem;
    color: __paperclip__gold__;
    /*float: left;*/
    margin-left: calc(~"50% + 16rem");
}
.paperclip__register .no p{
    float: left;
    margin-top: -3rem;
    margin-left: calc(~"50% + 16rem");
    color: __paperclip__gold__;
    height: 0;
}

.paperclip__login .no a,
.paperclip__update .no a,
.paperclip__register .no a{
    color: __paperclip__gold__;
    text-decoration: underline;
}
