.paperclip__login {
    margin: 0 -5.55%;
    padding-top: 20vw;
    color: white;
    background-color: __paperclip__stdbg__;
    background-image: url("images/home/invt-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.paperclip__doddlemid {
    margin-bottom: 10vw;
    text-align: center;
}

.paperclip__doddlemid p {
    color: __paperclip__edititem__;
}

.paperclip__login label {
    float: none;
    width: 34rem;
    margin-left: calc(~"50vw - 20rem");
}

.paperclip__login span {
    width: 5rem;
    font-size: 1.2rem;
    font-weight: lighter !important;
}

.paperclip__login input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    background-color: __paperclip__edititem__;

    width: 28rem !important;
    height: 2rem;
    opacity: 0.7;
    border-radius: 8px;
    border: 2px solid white;
    margin-left: 1rem;
}

.paperclip__login button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 0;
    background-color: __paperclip__gold__;
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
    color: white;
    font-weight: lighter !important;

    margin-left: calc(~"50% - 2rem");
    margin-top: 1rem;
}

.paperclip__login .block {
    margin-bottom: 0.5rem;
}

.paperclip__login .no p {
    display: inline;
    position: relative;
    top: 2rem;
    color: __paperclip__gold__;
    /*float: left;*/
    margin-left: calc(~"50% + 16rem");
}

.paperclip__login .no a {
    color: __paperclip__gold__;
    text-underline: __paperclip__gold__;
}
