/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */


/* header
********************************************************************/
.notify {
    display: none;
}

#dokuwiki__header {
    margin: 2.5em 0 0;
}

#dokuwiki__header .headings {
    margin-bottom: 2.1em;
}
#dokuwiki__header h1 {
    margin-bottom: 0;
    font-size: 1.5em;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    color: #ffffff;
    background-color: inherit;
}
#dokuwiki__header p.claim {
    margin-bottom: 0;
}
#dokuwiki__header h2 {
    margin-bottom: 0;
    font-size: 1.125em;
}

#dokuwiki__header .tools {
    margin-bottom: 2.1em;
}
#dokuwiki__header .tools ul {
    margin-bottom: 0;
}
#dokuwiki__header .tools ul li {
    display: inline;
}

#dokuwiki__header form.search {
    margin: .5em 0 0;
    display: block;
}
#dokuwiki__header form.search #qsearch__in {
    width: 12em;
    margin-right: .5em;
}
[dir=rtl] #dokuwiki__header form.search #qsearch__in {
    margin-right: 0;
    margin-left: .5em;
}

#dokuwiki__header div.breadcrumbs {
    margin-bottom: .3em;
}
#dokuwiki__header div.breadcrumbs a {
    color: yellow;
    background-color: inherit;
}


/* tools
********************************************************************/

/* make wiki links look the same as tool links in tool bars */
#dokuwiki__usertools a.wikilink1,
#dokuwiki__usertools a.wikilink2 {
    color: __paperclip__textarea__;
    border-bottom-width: 0;
}
#dokuwiki__usertools a.wikilink2:hover,
#dokuwiki__pagetools a.wikilink2:hover,
#dokuwiki__usertools a.wikilink2:active,
#dokuwiki__pagetools a.wikilink2:active,
#dokuwiki__usertools a.wikilink2:focus,
#dokuwiki__pagetools a.wikilink2:focus {
    text-decoration: underline;
}

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

/*____________ user tools ____________*/

#dokuwiki__usertools {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /*background: linear-gradient(to bottom, #, #222222);*/
    background-color: #222222;
}
#dokuwiki__pagetools ul {
    margin: 0 auto;
}
#dokuwiki__usertools ul,
#dokuwiki__pagetools ul {
    font-size: 1.2em;
    /* imitate #dokuwiki__site */
    max-width: __site_width__;
    display: inline-block;
}
#logo_area {
    float: left;
    margin-left: 5%;
    background-color: rgba(0,0,0,0);
    margin-block-start: 0em;
    padding-inline-start: 0px
}
#tag_area {
    margin-top: 40px;
    margin-right: 5%;
    background-color: rgba(0,0,0,0);
}

#brand {
    height: 100px;
    margin-right: 20px;
}
.social {
    height: 35px;
    margin-top: 40px;
    margin-right: 10px;
}
#qrcode {
    position: absolute;
    display: none;
    height: 200px;
    z-index: 999;
}

#dokuwiki__usertools ul .desktop__header{
    float: left;
    margin-left: 0;
}
[dir=rtl] #dokuwiki__usertools ul .desktop__header{
    float: right;
    margin-right: 0;
}

/*____________ page tools ____________*/

#dokuwiki__pagetools {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid __border__;
    background-color: __background_alt__;
    width: 100%;
    z-index: 10;
}
#dokuwiki__pagetools ul li {
    display: inline;
    margin: 0 1.5em 0 0;
}
#dokuwiki__pagetools ul li a.action.top {
    float: right;
}
#dokuwiki__pagetools a {
    color: __paperclip__darkgrey__;
}
[dir=rtl] #dokuwiki__pagetools ul li a.action.top {
    float: left;
}


/* sidebar
********************************************************************/

#dokuwiki__aside {
    padding-top: .4em;
}

.dokuwiki .aside {
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.2;
}

/* make sidebar more condensed */

.dokuwiki .aside h1 {
    margin-bottom: .222em;
}
.dokuwiki .aside h2 {
    margin-bottom: .333em;
}
.dokuwiki .aside h3 {
    margin-bottom: .444em;
}
.dokuwiki .aside h4 {
    margin-bottom: .5em;
}
.dokuwiki .aside h5 {
    margin-bottom: .5714em;
}

.dokuwiki .aside p,
.dokuwiki .aside ul,
.dokuwiki .aside ol,
.dokuwiki .aside dl,
.dokuwiki .aside pre,
.dokuwiki .aside table,
.dokuwiki .aside fieldset,
.dokuwiki .aside hr,
.dokuwiki .aside blockquote,
.dokuwiki .aside address {
    margin-bottom: .7em;
}

.dokuwiki .aside ul,
.dokuwiki .aside ol {
    padding-left: .5em;
}
[dir=rtl] .dokuwiki .aside ul,
[dir=rtl] .dokuwiki .aside ol {
    padding-right: .5em;
}
.dokuwiki .aside li ul,
.dokuwiki .aside li ol {
    margin-bottom: 0;
    padding: 0;
}


/* content
********************************************************************/

.dokuwiki .page {
    word-wrap: break-word;
}

/* license note in footer and under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-bottom: 2.8em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
}

#dokuwiki__footer .doc {
    float: left;
}
#dokuwiki__footer .top {
    float: right;
}

#dokuwiki__footer .license {
    clear: both;
}
#dokuwiki__footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}

#extension__manager .panelHeader {
    background-color: #333333;
}
#dokuwiki__usertools .user{
    color: __paperclip__textarea__;
}
.paperclip__gradient {
    position: absolute;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, #262626, #000000);
}
.paperclip__title {
    padding-top: 6em;
    padding-left: 5%;
    padding-right: 5%;
    background-size: 100%;
    position: relative;
    color: white;
    height: 50vw;
}
.desktop__title {
    font-size: 5em;
}
.desktop__class {
    font-size: 1.2em;
    color: #c9c9c9;
    display: inline-block;
}
.desktop__break {
    width:100%;
    font-size:10px;
    height:5px;
    background-color: __paperclip__gold__;
}
.mobile__title {
    display: none;
}
#title_img {
    display: none;
}
.breadcrumbs {
    display: none;
}
#dokuwiki__sitetools {
    display: none;
}
.intro {
    width: 45%;
    font-size: 1.2em;
}
.vertical_lower, .vertical_upper{
    width: 3px;
    background-color: __paperclip__gold__;
}
.vertical_upper {
    height: 10em;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
}
.vertical_lower {
    margin-top: -3em;
    margin-left: 5%;
    height: 5em;
    float: left;
}
.pet_warpper {
    height: auto;
    width: 100%;
}
#pet_upper,
#pet_lower{
    float: right;
    right: 5%;
}
#pet_upper {
    position: absolute;
    bottom: 0;
}
#pet_lower {
    top: 0;
    position: relative;
}

.paperclip__backToTop {
    position: fixed;
    right: 50px;
    bottom: 100px;
}
.paperclip__backToTop svg{
    width: 60px;
    height: 50px;
}

.paperclip__title {
    background-repeat: no-repeat;
    background-size: cover;
}